
.blocklyToolboxContents {
  box-sizing: border-box;
  
  .category-logic {
    border-right: 5px solid #5b80a5;
  }
  .category-loop {
    border-right: 5px solid #5ba55b;
  }
  .category-math {
    border-right: 5px solid #5b67a5;
  }
  .category-var {
    border-right: 5px solid #a55b80;
  }
  .category-list {
    border-right: 5px solid #745ba5;
  }
  .category-string {
    border-right: 5px solid #5ba58c;
  }
  .category-func {
    border-right: 5px solid #995ba5;
  }
 
  .category-joyo {
    border-right: 5px solid #5b67a5;
  }
}
