
@font-face {
  font-family: 'myFont';
  src: url('./font.ttf');
}
@font-face {
  font-family: 'myFont2';
  src: url('./font2.ttf');
}
@font-face {
  font-family: 'myFont-zh';
  src: url('./GLOWSANSSC-NORMAL-LIGHT.OTF');
}
@font-face {
  font-family: 'myFont-en';
  src: url('./HGF4_CNKI.TTF');
}

.bg-holder {
  position: absolute;
  left: -100px;
  top: -150px;
  // border: 1px solid #fff;
  width: 120%;
  height: 150vh;
  opacity: .6;

  background-image: url(/gym/dist/bg-test.png);
  background-repeat: repeat;
  animation: scrollBackground 25s linear infinite;
  transform: rotate(-15deg);
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: myFont;
  // font-family: myFont-en, myFont-zh, myFont;
  .logo {
      position: absolute;
      left: 20px;
      width: 65px;
      height: 32px;
      background-image: url("~@/assets/logo.png");
      background-size: 100% 100%;
      background-position: 0 1px;
    }
}

.container {
  flex: 1;
}

.page-content {
  display: flex;
  width: 100%;
  .half {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.icon-back-ui {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-size: 100% 100%;
  background-image: url(/gym/dist/img/back.png);
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
    /* 初始位置 */
  }

  to {
    background-position: 1312px 0;
    /* 最终位置，水平方向滚动至最右侧 */
  }
}
