
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .logo {
      position: absolute;
      left: 20px;
      width: 65px;
      height: 32px;
      background-image: url("~@/assets/logo.png");
      background-size: 100% 100%;
      background-position: 0 1px;
    }
}

.container {
  flex: 1;
}
